.container {
	margin-top: 6rem !important;
	margin-bottom: 4rem !important;
}

.sidebar {
	margin-top: 6.5rem !important;
}

.card {
	box-shadow: 0 10px 6px -6px lightgray;
}

button {
	width: 80px;
}

.modal-header,
.modal-footer {
	border: none !important;
}
