.container {
	margin-top: 6rem !important;
	margin-bottom: 4rem !important;
}

.sidebar {
	margin-top: 6.5rem !important;
}

button {
	width: 80px;
}

.modal-header,
.modal-footer {
	border: none !important;
}

textarea {
	resize: none;
}
