<section class="jumbotron text-center">
	<div class="container">
		<h1>Welcome to the MEAN Stack Blog!</h1>
		<p class="lead text-muted">Create an account to start reading industry-leading posts on computer science and
		software development. Join the community by writing your own posts and sharing your knowledge. Like and comment on
		other posts to get discussion rolling!</p>
	</div>
</section>

<hr class="featurette-divider">

<div class="row featurette">
	<div class="col-md-7">
		<h2 class="featurette-heading">Stay up-to-date on industry news.</h2>
		<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
			aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	</div>
	<div class="col-md-5">
		<img src="https://as2.ftcdn.net/jpg/01/21/57/11/500_F_121571160_AaswQV0QxMqdCev9DJNqNvtmTlRvA2RA.jpg" alt="stock photo" width="90%" />
	</div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
	<div class="col-md-7 order-md-2">
		<h2 class="featurette-heading">Read through cutting-edge tutorials.</h2>
		<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
			dolore magna
			aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	</div>
	<div class="col-md-5 order-md-1">
		<img src="https://cloud.glstock.com/65437/4894480/digital-code-background.jpg" alt="stock photo" 
			width="90%" />
	</div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
	<div class="col-md-7">
		<h2 class="featurette-heading">Share your knowledge with the community.</h2>
		<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
			dolore magna
			aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	</div>
	<div class="col-md-5">
		<img src="https://as1.ftcdn.net/jpg/01/21/53/92/500_F_121539275_KbRsRwaEXUSZwFXR7K8vvK1KZSO1ZLRk.jpg" alt="stock photo"
			width="90%" />
	</div>
</div>

<hr class="featurette-divider">