<div class="container">

  <div class="row mt-4">
    <div class="col-md-8 mt-4">

      <div *ngFor="let post of posts; let i = index;">
        <div class="card mb-4" *ngIf="post">
          <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title"><a
                [routerLink]="['/blog', ss.normalizeRoute(post.title)]">{{post?.title}}</a></h2>
            <p>By <a [routerLink]="['/profile', post.username]">{{post?.name}}</a>
              {{ss.formatDate(post?.date)}}</p>
            <p class="card-text">
              <span [ngClass]="['post-body-' + i]"></span>
              {{ss.parseHTML(post, 'post-body', i)}}
              <a [routerLink]="['/blog', ss.normalizeRoute(post.title)]">Read More &#8811;</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card my-4">
        <h5 class="card-header text-center">MEAN Blog</h5>
        <div class="card-body">
          Cycle through the blogs on the left to find topics that interest you or authors you want to follow. 
        </div>
      </div>
    </div>
  </div>
</div>