<div class="container">

  <div class="row mt-4">
    <div class="col-md-8 mt-4">

      <div *ngFor="let post of posts; let i = index;">
        <div class="card mb-4" *ngIf="post">
          <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title"><a
                [routerLink]="['/blog', post.title.toLowerCase().split(' ').join('-')]">{{post?.title}}</a></h2>
            <p>By <a [routerLink]="['/profile', post.username]">{{post?.name}}</a>
              {{formatDate(post?.date)}}</p>
            <p class="card-text">
              <span [ngClass]="['post-body-' + i]"></span>
              {{parseHTML(post, i)}}
              <a [routerLink]="['/blog', post.title.toLowerCase().split(' ').join('-')]">Read More &#8811;</a>
            </p>
            <div class="tags">
              <a href="" class="badge badge-pill badge-info m-1">JavaScript</a>
              <a href="" class="badge badge-pill badge-info m-1">React</a>
              <a href="" class="badge badge-pill badge-info m-1">Nodejs</a>
              <a href="" class="badge badge-pill badge-info m-1">PHP</a>
              <a href="" class="badge badge-pill badge-info m-1">Ruby</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card my-4">
        <h5 class="card-header">Search</h5>
        <div class="card-body">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="button">Go!</button>
            </span>
          </div>
        </div>
      </div>

      <div class="card my-4">
        <h5 class="card-header">Categories</h5>
        <div class="card-body">
          <div class="row">
            <a href="" class="badge badge-pill badge-info m-1">JavaScript</a>
            <a href="" class="badge badge-pill badge-info m-1">React</a>
            <a href="" class="badge badge-pill badge-info m-1">Nodejs</a>
            <a href="" class="badge badge-pill badge-info m-1">PHP</a>
            <a href="" class="badge badge-pill badge-info m-1">Ruby</a>
            <a href="" class="badge badge-pill badge-info m-1">C++</a>
            <a href="" class="badge badge-pill badge-info m-1">Python</a>
            <a href="" class="badge badge-pill badge-info m-1">C#</a>
            <a href="" class="badge badge-pill badge-info m-1">C</a>
            <a href="" class="badge badge-pill badge-info m-1">ColdFusion</a>
          </div>
        </div>
      </div>
      <div class="card my-4">
        <h5 class="card-header">Side Widget</h5>
        <div class="card-body">
          You can put anything you want inside of these side widgets. They are easy to use, and feature the new
          Bootstrap 4 card containers!
        </div>
      </div>
    </div>
  </div>
</div>