.container {
	margin-top: 8rem !important;
	margin-bottom: 6rem !important;
}

.text-center,
input {
	margin-bottom: 2rem;
}

.title {
	border-radius: 0;
	border-color: #bfbfbf;
	color: #212529;
}

.submit-btn {
	margin: 0 auto;
	margin-top: 2rem;
	width: 100%;
}