<div class="container mb-6">
	<h1 class="text-center">Edit Blog</h1>
	<form [formGroup]="titleForm">
		<input formControlName="title" name="title" class="form-control title" placeholder="Blog title"
			(keyup)="onTitleChange($event)" value="{{blog.title}}" />
	</form>
	<ckeditor [(ngModel)]="blog.body" [editor]="Editor"></ckeditor>
	<div>
		<button class="btn btn-danger cancel-btn" (click)="ss.goBack()">Cancel</button>
		<button class="btn btn-primary submit-btn pull-right" (click)="submitBlogEdits()">Submit</button>
	</div>
</div>