.container {
	margin-top: 8rem !important;
	margin-bottom: 6rem !important;
}

.text-center,
input {
	margin-bottom: 2rem;
}

.title {
	border-radius: 0;
	border-color: #bfbfbf;
	color: #212529;
}

.submit-btn,
.cancel-btn {
	margin-top: 2rem;
	width: 49%;
}

.submit-btn {
	float: right;
}

.cancel-btn {
	float: left;
}