<div class="container col-md-8 col-md-offset-4">
	<div class="card">
		<form [formGroup]="registerForm">
			<div class="form-row">
				<div class="col-md-6 mb-3">
					<label for="firstname">First name</label>
					<input type="text" name="firstname" id="firstname" formControlName="firstname"
						class="form-control is-valid" placeholder="First name" required />
					<div class="invalid-feedback">
						First name is required.
					</div>
				</div>
				<div class="col-md-6 mb-3">
					<label for="lastname">Last name</label>
					<input type="text" name="lastname" id="lastname" formControlName="lastname"
						class="form-control is-valid" placeholder="Last name" required />
					<div class="invalid-feedback">
						Last name is required.
					</div>
				</div>
			</div>
			<div class="form-row">
				<div class="col-md-12 mb-3">
					<label for="username">Username</label>
					<input type="text" name="username" id="username" formControlName="username" class="form-control is-valid"
						placeholder="Username" required />
					<div class="invalid-feedback">
						Username is required.
					</div>
				</div>
			</div>
			<div class="form-row">
				<div class="col-md-12 mb-3">
					<label for="email">Email</label>
					<input type="text" name="email" id="email" formControlName="email" class="form-control is-valid"
						placeholder="email@domain.com" required />
					<div class="invalid-feedback">
						Email is required.
					</div>
				</div>
			</div>
			<div class="form-row">
				<div class="col-md-12 mb-3">
					<label for="password">Password</label>
					<input type="password" name="password" id="password" formControlName="password" class="form-control is-valid"
						placeholder="Password" required />
					<div class="invalid-feedback">
						Password is required.
					</div>
				</div>
			</div>
			<button class="btn btn-primary" type="submit" [disabled]="!registerForm.valid">Submit</button>
		</form>
		<div class="mt-4 text-right">
			<p>Already have an account? <a routerLink="/login">Log in</a></p>
		</div>
	</div>
</div>