<div class="container col-md-8 col-md-offset-4">
	<div class="card">
		<form>
			<div class="form-row">
				<div class="col-md-6 mb-3">
					<label for="validationServer01">First name</label>
					<input type="text" class="form-control is-valid" placeholder="First name" value="Mark"
						required>
					<div class="invalid-feedback">
						First name is required.
					</div>
				</div>
				<div class="col-md-6 mb-3">
					<label for="validationServer02">Last name</label>
					<input type="text" class="form-control is-valid" placeholder="Last name" value="Otto"
						required>
					<div class="invalid-feedback">
						Last name is required.
					</div>
				</div>
			</div>
			<div class="form-row">
				<div class="col-md-12 mb-3">
					<label for="validationServer02">Username</label>
					<input type="text" class="form-control is-valid" placeholder="Username" value="Otto"
						required>
					<div class="invalid-feedback">
						Username is required.
					</div>
				</div>
			</div>
			<div class="form-row">
				<div class="col-md-12 mb-3">
					<label for="validationServer02">Email</label>
					<input type="text" class="form-control" placeholder="email@domain.com" value=""
						required>
					<div class="invalid-feedback">
						Email is required.
					</div>
				</div>
			</div>
			<div class="form-row">
				<div class="col-md-12 mb-3">
					<label for="validationServer02">Password</label>
					<input type="text" class="form-control" placeholder="Username" value="" required>
					<div class="invalid-feedback">
						Password is required.
					</div>
				</div>
			</div>
			<button class="btn btn-primary" type="submit" [disabled]="!profileForm.valid">Submit</button>
		</form>
		<div class="mt-4 text-right">
			<p>Already have an account? <a routerLink="/login">Log in</a></p>
		</div>
	</div>
</div>