<div class="container col-md-8 col-md-offset-4">
	<div class="card">
		<form>
			<div class="form-row">
				<div class="col-md-12 mb-3">
					<label for="validationServer02">Username or email</label>
					<input type="text" class="form-control" id="validationServer02" placeholder="Username or email" value=""
						required>
					<div class="invalid-feedback">
						Username or Email is required.
					</div>
				</div>
			</div>
			<div class="form-row">
				<div class="col-md-12 mb-3">
					<label for="validationServer02">Password</label>
					<input type="text" class="form-control" id="validationServer02" placeholder="Password" value=""
						required>
					<div class="invalid-feedback">
						Password is required.
					</div>
				</div>
			</div>
			<button class="btn btn-primary" type="submit">Submit</button>
		</form>
		<div class="mt-4 text-right">
			<p>Don't have an account? <a routerLink="/register">Sign Up</a></p>
		</div>
	</div>
</div>