.container {
	margin: 6rem auto 6rem auto !important;
}

.card {
	box-shadow: 0 10px 6px -6px lightgray;
}

.like-box {
	margin-top: 7.5rem;
}

.like-box button {
	width: 100%;
}

textarea {
	resize: none;
}

.modal-header,
.modal-footer {
	border: none !important;
}

.modal-header h5 {
	width: 100%;
}

.modal-header button {
	width: 80px;
}

.modal-footer button {
	width: 80px;
}