.container {
	margin: 6rem auto 6rem auto !important;
}

.card {
	box-shadow: 0 10px 6px -6px lightgray;
}

.like-box {
	margin-top: 7.5rem;
}

.like-box button {
	width: 100%;
}

textarea {
	resize: none;
}